.species-checklist a,
.species-checklist a.btn-link,
.species-checklist button.btn-link
{
  /*color: #c44100; LoonWeb link color */
  color: #007e95;
  text-decoration: underline;
}

.species-checklist a:hover,
.species-checklist a.btn-link:hover,
.species-checklist button.btn-link:hover
{
  /*color: #c44100; LoonWeb link color */
  color: #176f75;
  text-decoration: underline;
  cursor: pointer;
}

.dt-paging-button.current {
  background-color: #176f75 !important;
}

.dt-paging-button:hover {
  background-color: #176f75 !important;
}
