
/* lines 28 - 52 in style.css */
/*** all displays ***/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  .page-template-page-species-explorer .hero #searchform #searchsubmit { background-image: url(/wp-content/themes/val/images/magnify-small@2x.png); background-size: 15px 14px; }
}
/*** medium displays and up -- 680px and more ***/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 680px), only screen and (min-resolution: 192dpi) and (min-width: 680px) {
  .page-template-page-species-explorer .hero #searchform:after { background-image: url(/wp-content/themes/val/images/hummingbird@2x.png); background-size: 113px 122px; }
  .page-template-page-species-explorer .hero #searchform #searchsubmit { background-image: url(/wp-content/themes/val/images/magnify-medium@2x.png); background-size: 19px 19px; }
  #crumbs a { background-image: url(/wp-content/themes/val/images/breadcrumbs-divider@2x.png); background-size: 14px 52px; }
}
/*** large displays -- 950px and more ***/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 950px), only screen and (min-resolution: 192dpi) and (min-width: 950px) {
  .page-template-page-species-explorer .hero #searchform #searchsubmit { background-image: url(/wp-content/themes/val/images/magnify-large@2x.png); background-size: 21px 21px; }
}

/* lines 939 - 1014 in style.css */
.page-template-page-species-explorer .hero { position: relative; padding: 120px 30px 30px 30px; text-align: center; color: #fff; background: url(/wp-content/themes/val/images/vermont-panorama-small.jpg) no-repeat center; background-size: cover; z-index: 1000; }

@media screen and (min-width: 680px) { .page-template-page-species-explorer .hero { padding: 30px 30px 30px 30px; background-image: url(/wp-content/themes/val/images/vermont-panorama-medium.jpg); } }

@media screen and (min-width: 950px) { .page-template-page-species-explorer .hero { padding: 90px 30px 30px 30px; background-image: url(/wp-content/themes/val/images/vermont-panorama-large.jpg); } }

.page-template-page-species-explorer .hero .content { position:relative; z-index: 1000; }

.page-template-page-species-explorer .hero h1 { margin: 0 0 15px 0; font-family: "Sorts Mill Goudy", serif; font-size: 2.5em; font-weight: 300; line-height: 1.05em; }

@media screen and (max-width: 290px) { .page-template-page-species-explorer .hero h1 { font-size: 1.3em; } }

@media screen and (min-width: 680px) { .page-template-page-species-explorer .hero h1 { margin: 0 0 30px 0; font-size: 3em; line-height: .6em; } }

@media screen and (min-width: 950px) { .page-template-page-species-explorer .hero h1 { font-size: 3.8em; } }

.page-template-page-species-explorer .hero h2 { margin: 0 0 30px 0; text-transform: none; font-weight: 400; font-size: 1.3em; }

@media screen and (max-width: 290px) { .page-template-page-species-explorer .hero h2 { vertical-align:bottom; font-size: .9em; } }

@media screen and (min-width: 680px) { .page-template-page-species-explorer .hero h2 { vertical-align:bottom; margin: 0 0 25px 0; font-weight: 300; } }

@media screen and (min-width: 950px) { .page-template-page-species-explorer .hero h2 { vertical-align:bottom; margin: 0 0 30px 0; font-size: 1.5em; } }

.page-template-page-species-explorer .hero .hero-stats-wrap { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px; max-width: 320px; margin: 0 auto 10px auto; }

@media screen and (min-width: 680px) { .page-template-page-species-explorer .hero .hero-stats-wrap { max-width: 500px; grid-gap: 40px; } }

.page-template-page-species-explorer .hero .hero-stats-wrap a.hero-stats-item { margin-bottom: 20px; line-height: 1.8em; text-decoration: none; color: #fff; }

@media screen and (min-width: 680px) { .page-template-page-species-explorer .hero .hero-stats-wrap a.hero-stats-item { display: grid; grid-template-columns: 1fr 5fr; justify-items: start; grid-gap: 15px; text-align: left; } .page-template-page-species-explorer .hero .hero-stats-wrap a.hero-stats-item:first-of-type { width: 275px; } .page-template-page-species-explorer .hero .hero-stats-wrap a.hero-stats-item:last-of-type { width: 200px; } }

.page-template-page-species-explorer .hero .hero-stats-wrap a.hero-stats-item:hover .stats { background: rgba(255, 255, 255, 0.2); }

.page-template-page-species-explorer .hero .hero-stats-wrap a.hero-stats-item i.stats-icon { display: block; margin: 0 0 5px 0; font-family: "Font Awesome 5 Pro"; font-size: 2.75em; }

@media screen and (min-width: 680px) { .page-template-page-species-explorer .hero .hero-stats-wrap a.hero-stats-item i.stats-icon { margin: 5px 0 0 0; font-size: 3.5em; } }

.page-template-page-species-explorer .hero .hero-stats-wrap a.hero-stats-item .stats { display: inline-block; padding: 5px 10px; font-weight: 500; border-radius: 5px; transition: all 0.1s ease; }

.page-template-page-species-explorer .hero .hero-stats-wrap a.hero-stats-item span { display: block; font-size: 1.3em; }

.page-template-page-species-explorer .hero .hero-stats-wrap a.hero-stats-item span.stats-count { font-size: 1.8em; font-weight: 700; }

@media screen and (min-width: 680px) { .page-template-page-species-explorer .hero .hero-stats-wrap a.hero-stats-item span.stats-count { font-weight: 600; } }

.page-template-page-species-explorer .hero .hero-stats-wrap a.hero-stats-item span.stats-count i { opacity: 0.7; animation: rotation 1s infinite ease; }

@keyframes rotation { 0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } }

.page-template-page-species-explorer .hero #searchform { position: relative; width: 100%; max-width: 400px; box-sizing: border-box; margin: 0 auto; border-radius: 100px; border: 5px solid #fff; }

.page-template-page-species-explorer .hero #searchform .search-field { width: 100%; height: 40px; box-sizing: border-box; padding: 15px 80px 13px 30px; font-family: "Sorts Mill Goudy", serif; font-size: 1.3em; color: #176f75 !important; border-radius: 25px; }

@media screen and (min-width: 380px) { .page-template-page-species-explorer .hero #searchform .search-field { font-size: 1.3em !important; } }

.page-template-page-species-explorer .hero #searchform .searchsubmit-wrap { display: flex; position: absolute; top: 0; right: 0; width: 40px; height: 40px; justify-content: center; align-items: center; background: #176f75; border-radius: 100px; border: 0; z-index: 1000; transition: all 0.1s ease; }

.page-template-page-species-explorer .hero #searchform .searchsubmit-wrap:hover { background: #1d8990; }

.page-template-page-species-explorer .hero #searchform .searchsubmit-wrap button { position: absolute; width: 40px; height: 40px; color: #fff; background: none; border-radius: 100px; cursor: pointer; }

.page-template-page-species-explorer .hero #searchform .searchsubmit-wrap button i { font-size: 1.8em; font-family: "Font Awesome 5 Pro"; }

@media screen and (min-width: 950px) { .page-template-page-species-explorer .hero #searchform:after { content: ""; display: block; position: absolute; right: -180px; top: -30px; width: 150px; height: 163px; background: url(/wp-content/themes/val/images/hummingbird.png); background-size: 150px 163px; } }

@media screen and (min-width: 680px) { .page-template-page-species-explorer .hero #searchform:after { content: ""; display: block; position: absolute; right: -90px; top: -15px; width: 75px; height: 81px; background: url(/wp-content/themes/val/images/hummingbird.png); background-size: 75px 81px; } }

.page-template-page-species-explorer .hero .button-wrap { margin: 30px 0; font-size: 1.2em; }

.page-template-page-species-explorer .hero .button-wrap span { padding-right: 10px; font-size: 1.1em; font-weight: 600; }

.page-template-page-species-explorer .hero span.overlay { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(35, 92, 164, 0.5); z-index: 0; }

@media screen and (min-width: 680px) { .page-template-page-species-explorer .hero span.overlay { background: rgba(35, 92, 164, 0.35); } }

@media screen and (min-width: 950px) { .page-template-page-species-explorer .hero span.overlay { background: rgba(35, 92, 164, 0.2); } }
