  
.hero-title-div {
  display: inline;
  margin-bottom: 30px;
}
.hero-title {
  display: inline-block;
}

.hero-title-div-wordpress {
  display: inline-block;
  margin-bottom: 30px;
}
.hero-title-wordpress {
  display: inline;
}
